.botoesForm {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}
table {
  width: 100%;

}
mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  margin-top: 16px;
}
td {
  font-size: 1rem;
}

@media (max-width: 768px) {
  td {
      font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  td {
      font-size: 0.65rem;
  }
}
