table {
  width: 100%;
}

mat-card {
  margin: 16px;
}

button {
  margin: 0 4px;
}
.text {
  width: 100%;
  text-align: center
}
td {
  font-size: 1rem;
}
@media (max-width: 768px) {
  td {
      font-size: 0.875rem;
  }
  th {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  td {
      font-size: 0.65rem;
  }
}
.delete {
  color: #d6132d;

}
