mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  margin-top: 16px;
}
.botoesForm {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}
.data {
  display: flex;
}
