<h2 mat-dialog-title>Criar serviço</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">


    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="descricao" type="text" />
      <mat-error *ngIf="userForm.get('descricao')?.hasError('required')">
        A Descrição é obrigatória.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Preço</mat-label>
      <input matInput formControlName="preco"
       type="text"
       mask="separator.2"
       decimalMarker=","
       thousandSeparator="."
       prefix="R$"
       inputmode="decimal"

   />
      <mat-error *ngIf="userForm.get('preco')?.hasError('required')">
        O preço é obrigatório.
      </mat-error>
      <mat-error *ngIf="userForm.get('preco')?.hasError('preco')">
        Preço inválido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="grid-2" appearance="outline">
      <mat-label>Data de abertura </mat-label>
      <input
        matInput
        [matDatepicker]="newPaymenteDate"
        formControlName="dataAbertura"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="newPaymenteDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #newPaymenteDate></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="grid-2" appearance="outline">
      <mat-label>Data final </mat-label>
      <input
        matInput
        [matDatepicker]="final"
        formControlName="dataFinalizacao"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="final"
      ></mat-datepicker-toggle>
      <mat-datepicker #final></mat-datepicker>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Selecione um Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let option of statusOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="userForm.get('status')?.hasError('required')">
        Status obrigatório.
      </mat-error>
    </mat-form-field>
    <div class="botoesForm">
      <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Criar serviço</button>
      <button mat-dialog-close mat-raised-button color="warn"> Cancelar</button>
    </div>

  </form>


</mat-dialog-content>

